@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body{
  font-family: "Roboto Mono";
  display: flex;
  flex-direction: column;
  align-items: center;
}

#testimonails-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.testimonail-card{
  padding: 1rem;
  width: 100%;
  height: 460px;
  border: 1px solid black;
  border-radius: .5rem;
  line-height: 1.4;
  position: relative;
}

.testimonail-card img{
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.testimonail-card h2{
  text-align: center;
  text-transform: uppercase;
}

.testimonail-card p{
  text-align: center;
}

.testimonail-card date{
  display: flex;
  right: 1rem;
  bottom: 1rem;
  position: absolute;
}

nav{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
  width: 434px;
}  

nav button{
  cursor: pointer;
  width: 6rem;
  border: 1px solid black;
  background-color: transparent;
  padding: 8px 0;
  border-radius: 4px;
  transition: .4s;
}

nav button:hover{
  background-color: black;
  color: white;
}
