@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: poppins;
}

body{
  background-color: rgb(45, 41, 75);
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

input{
  width: 95%;
  height: 40px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  outline: none;
  text-align: center;
}

#keyboard{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 935px;
}

.row{
  display: flex;
  gap: 5px;
}

.key{
  padding: 3px;
  border: 1px solid white;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.key:hover{
  background-color: rgba(255, 255, 355, 0.15);
}

.key p{
  position: relative;
  top: 2px;
  left: 2px;
}

.tab, .backslash{
  width: 79px;
}
.backspace{
  width: 108px;
}
.capsLock{
  width: 100px;
}
.enter{
  width: 120px;
}
.shift{
  width: 141.5px;
}
.ctrl, .alt{
  width: 79px;
}
.space{
  width: 557px;
}
