*{
  padding: 0;
  margin: 0;
}

.nav{
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: rgb(255, 255, 255);
}

.darkModeBtn{
  width: 40px;  
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background-color: rgb(0, 0, 0);
}

i{
  font-size: 30px;
  color: white;
}

.hero{
  height: 93.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-head-text{
  font-size: 150px;
}

.para{
  width: 500px;
}

.hero-p-text{
  font-size: 20px;
  text-align: center;
}
